/* in the HTML added a section class to group the section of the items
container is ued to set the page horizontally*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /*vertically items*/
    align-items: center;
    justify-content: flex-start; 
    height: 100vh;
    box-sizing: border-box;
}


header {
    text-align: center;
    padding: 20px;
}

#title-image {
    max-width: 50%;
    height: auto;
}


.container {
    width: 100%; /* Full width of the viewport */
    max-width: 800px; /* Limit width for readability */
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}


a img {
    border: 2px rgb(107, 103, 103);

}

a img:hover {
    transform: scale(1.1);
}
a {
    text-decoration: none;
    color: inherit;
}
.section {
    margin: 20px 0;
    text-align: center;
}
header img {
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}


.hidden{
	opacity: 0;
}

.hidden.active{
	opacity: 1;
	
}